<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DepartmentsBoardServlet</display-name>
    <servlet-name>DepartmentsBoardServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.DepartmentsBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsBoardServlet</servlet-name>
    <url-pattern>/departmentsBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddActionServlet</display-name>
    <servlet-name>DoAddActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.DoAddActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddActionServlet</servlet-name>
    <url-pattern>/doAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServlet</display-name>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.department.web.DoDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
</web-app>