<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>boardTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteActionServlet</display-name>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.DoWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyServlet</display-name>
    <servlet-name>ViewModifyServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.ViewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.lizzy.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpServlet</display-name>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.user.web.ViewSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <url-pattern>/user/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpActionServlet</display-name>
    <servlet-name>DoSignUpActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.user.web.DoSignUpActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpActionServlet</servlet-name>
    <url-pattern>/user/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignInServlet</display-name>
    <servlet-name>ViewSignInServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.user.web.ViewSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInServlet</servlet-name>
    <url-pattern>/user/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInActionServlet</display-name>
    <servlet-name>DoSignInActionServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.user.web.DoSignInActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInActionServlet</servlet-name>
    <url-pattern>/user/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.ktds.lizzy.board.board.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SignInFilter</display-name>
    <filter-name>SignInFilter</filter-name>
    <filter-class>com.ktds.lizzy.common.web.SignInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/board</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/write</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/detail</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/modify</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/delete</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/doWrite</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignInFilter</filter-name>
    <url-pattern>/doModify</url-pattern>
  </filter-mapping>
</web-app>